# Dépendances Node.js
node_modules/

# Dossiers de build / distribution
dist/
build/
out/

# Ruby / Jekyll
vendor/
.bundle/

# Dossier généré par Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Dossier local Netlify
.netlify/

# Fichiers d’environnement
.env
.env.local

# Fichiers système (macOS / Windows)
.DS_Store
Thumbs.db

# Fichiers temporaires et logs
*.log
npm-debug.log*
yarn-debug.log*
*.tmp
*.temp